GOOGLE_CLOUD_PROJECT=cloud-cycle-pj
BIGQUERY_DATASET=mdas-dataset
BIGQUERY_TABLE=aircraft_dummy
BIGQUERY_REGION=asia-southeast3
GOOGLE_CLOUD_LOCATION=asia-southeast1
GOOGLE_GENAI_USE_VERTEXAI=true
# Optional: path to service account key
# GOOGLE_APPLICATION_CREDENTIALS=/path/to/key.json
GOOGLE_API_KEY=GOOGLE_API_KEY
